#khongCoSanPham {
	opacity: 0;
	width: 0;
	color: red;
	font-size: 30px;
	font-weight: bold;
	height: 310px;
  }
  
  /* Home Product */
  .homeproduct {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-around; /* Căn giữa với khoảng cách đều */
	margin: -10px; 
  }
  
  /* sản phẩm */
  .sanPham {
	flex: 0 1 220px; /* Chiều rộng sản phẩm */
	margin: 10px; /* Khoảng cách giữa các sản phẩm */
	padding: 8px; /* Padding cho sản phẩm */
	transition: transform 0.3s, box-shadow 0.3s; /* Thêm hiệu ứng cho sản phẩm */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Thêm bóng nhẹ cho sản phẩm */
	display: flex; 
	flex-direction: column; 
	height: auto; /* Chiều cao tự động */
  }
  
  /* Hiệu ứng hover cho sản phẩm */
  .sanPham:hover {
	transform: scale(1.05); /* Phóng to sản phẩm khi hover */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ rõ hơn khi hover */
  }
  
  /* Căn chỉnh hình ảnh sản phẩm */
  .sanPham a img {
	display: block;
	margin: 0 auto; /* Căn giữa hình ảnh */
	width: 100%; /* Đặt chiều rộng hình ảnh là 100% */
	height: auto; /* Chiều cao tự động */
	max-height: 200px; /* Giới hạn chiều cao tối đa */
  }
  
  /* Chiều cao tự động cho sản phẩm */
  .sanPham a {
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	padding: 10px;
  }
  
  /* Tên sản phẩm */
  .sanPham h3 {
	padding: 3px 0; /* Padding cho tên sản phẩm */
	color: #333;
	line-height: 1.4em;
	font-size: 14px; /* Giảm kích thước phông chữ */
	font-weight: bold; 
	text-align: center; 
  }
  
  /* Giá */
  .sanPham .price {
	display: block;
	padding: 5px 10px;
	text-align: center; 
	font-size: 14px; /* Giảm kích thước giá */
  }
  
  .sanPham strong {
	display: inline-block;
	font-size: 16px; 
	color: #e10c00;
  }
  
  /* Đánh giá */
  .sanPham .ratingresult {
	padding: 5px 10px;
	text-align: center; 
  }
  
  .sanPham .ratingresult span {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	font-size: 12px;
	color: #777;
  }
  
  .fa-star,
  .fa-star-o {
	color: orange;
  }
  
  /* Khuyến mãi */
  .sanPham label {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 10px; /* Giảm kích thước nhãn khuyến mãi */
	color: #fff;
	font-weight: 600;
	border-radius: 2px;
	padding: 2px 4px; /* Giảm padding cho nhãn */
  }
  
  .sanPham label.giamgia {
	background-image: linear-gradient(90deg, #ff9c00 0%, #ec1f1f 100%);
	border-radius: 10px;
	padding: 1px 7px;
  }
  
  /* Nút thêm vào giỏ hàng */
  .themvaogio {
	z-index: 20;
	border: 1px solid #e3e7eb;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	font-size: 1.5em;
	color: rgb(163, 161, 161);
	background: none;
	transition-duration: 0.2s;
	cursor: pointer;
  }
  
  .themvaogio:hover {
	color: black;
	background-color: #e6e6e6;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .themvaogio:active {
	box-shadow: none;
  }
  
  /* ====== End Home Product ======= */