doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Admin - Thế giới điện thoại
    link(rel="shortcut icon", href="img/favicon.ico")

    // Load font awesome icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", crossorigin="anonymous")

    // Chart JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")

    // Our files
    link(rel="stylesheet", href="css/admin/style.css")
    link(rel="stylesheet", href="css/admin/progress.css")
    script(src="data/products.js")
    script(src="js/classes.js")
    script(src="js/dungchung.js")
    script(src="js/admin.js")

  body
    header
      h2 SmartPhone Store - Admin

    // Menu
    aside.sidebar
      ul.nav
        li.nav-title MENU
        li.nav-item
          a.nav-link.active 
            i.fa.fa-home
            | Trang Chủ
        li.nav-item
          a.nav-link 
            i.fa.fa-th-large
            | Sản Phẩm
        li.nav-item
          a.nav-link 
            i.fa.fa-file-text-o
            | Đơn Hàng
        li.nav-item
          a.nav-link 
            i.fa.fa-address-book-o
            | Khách Hàng
        li.nav-item
          hr
        li.nav-item
          a.nav-link(href="index.html", onclick="logOutAdmin(); return true;")
            i.fa.fa-arrow-left
            | Đăng xuất (về Trang chủ)

    // Khung hiển thị chính
    .main
      .home
        .canvasContainer
          canvas#myChart1
        .canvasContainer
          canvas#myChart2
        .canvasContainer
          canvas#myChart3
        .canvasContainer
          canvas#myChart4

      // Sản Phẩm
      .sanpham
        table.table-header
          tr
            th(title="Sắp xếp", style="width: 5%", onclick="sortProductsTable('stt')") 
              | Stt 
              i.fa.fa-sort
            th(title="Sắp xếp", style="width: 10%", onclick="sortProductsTable('masp')") 
              | Mã 
              i.fa.fa-sort
            th(title="Sắp xếp", style="width: 40%", onclick="sortProductsTable('ten')") 
              | Tên 
              i.fa.fa-sort
            th(title="Sắp xếp", style="width: 15%", onclick="sortProductsTable('gia')") 
              | Giá 
              i.fa.fa-sort
            th(title="Sắp xếp", style="width: 15%", onclick="sortProductsTable('khuyenmai')") 
              | Khuyến mãi 
              i.fa.fa-sort
            th(style="width: 15%") Hành động

        .table-content
        .table-footer
          select(name="kieuTimSanPham")
            option(value="ma") Tìm theo mã
            option(value="ten") Tìm theo tên
          input(type="text", placeholder="Tìm kiếm...", onkeyup="timKiemSanPham(this)")
          button(onclick="document.getElementById('khungThemSanPham').style.transform = 'scale(1)'; autoMaSanPham()")
            i.fa.fa-plus-square
            | Thêm sản phẩm

        #khungThemSanPham.overlay
          span.close(onclick="this.parentElement.style.transform = 'scale(0)';") &times;
          table.overlayTable.table-outline.table-content.table-header
            tr
              th(colspan="2") Thêm Sản Phẩm
            tr
              td Mã sản phẩm:
              td
                input(type="text", id="maspThem")
            //... Tiếp tục theo logic này cho toàn bộ các phần tử còn lại
