doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="img/favicon.ico")

    title Thế giới điện thoại

    // Load font awesome icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", crossorigin="anonymous")

    // our files
    // css
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/topnav.css")
    link(rel="stylesheet", href="css/header.css")
    link(rel="stylesheet", href="css/taikhoan.css")
    link(rel="stylesheet", href="css/gioHang.css")
    link(rel="stylesheet", href="css/footer.css")
    
    // js
    script(src="data/products.js")
    script(src="js/classes.js")
    script(src="js/dungchung.js")
    script(src="js/giohang.js")

  body
    script.
      addTopNav();

    section(style="min-height: 85vh")
      script.
        addHeader();

      table.listSanPham

    script.
      addContainTaiKhoan();

    .footer
      script.
        addFooter();

    i.fa.fa-arrow-up#goto-top-page(onclick="gotoTop()")
